{
  "printWidth": 120,
  "arrowParens": "avoid",
  "tabWidth": 4,
  "singleQuote": false,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css"
}
