@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
    font-family: "MontaguSlab";
    src: url(./fonts/MontaguSlab.ttf) format("truetype");
}

@font-face {
    font-family: "M PLUS 2";
    src: url(./fonts/Mplus2-Medium.otf) format("opentype");
}

.mantine-NativeSelect-root {
    @apply grow;
}

.mantine-NativeSelect-label {
    @apply block mb-[5px] font-bold;
}

.mantine-NativeSelect-input {
    @apply w-full p-2 bg-[#f9f9f9] dark:bg-[#777] dark:text-white border-2 border-solid border-[#588157] rounded-sm;
}

.mantine-NativeSelect-section {
    @apply hidden;
}

.rmp-name__tokyo_en {
    font-family: MontaguSlab, Arial, sans-serif;
}

.rmp-name__jreast_ja {
    font-family: "M PLUS 2", sans-serif;
}

.rmp-name-outline {
    paint-order: stroke;
    stroke: white;
    /* Do not forget to define stroke-width when using this class! */
    stroke-linejoin: round;
}

.btn {
    @apply m-0 text-center border-none bg-[#2f2f2f] text-[#888];
}

.btn-lg {
    @apply text-xs/3 p-1;
}

.btn-zoom {
    @apply w-[26px] text-[22px];
}

.btn-bottom {
    @apply mb-4;
}

.description {
    @apply text-xs mr-1;
}

.controls {
    @apply absolute top-[15px] right-[15px] flex flex-col items-end;
}

.route-step {
    @apply mb-2.5 p-2.5 bg-[#f9f9f9] dark:bg-[#555] rounded-sm border-l-4 border-l-[#60a558];
}

.line-badge {
    @apply inline-block px-2 py-[3px] rounded-sm text-white font-bold;
}

.line-border {
    @apply my-5 border-b-1 border-b-[#ddd];
}

.hsr-badge {
    @apply relative;
}

.hsr-badge::after {
    @apply content-["★"] text-[10px] absolute top-[-5px] right-[-5px] bg-[gold] text-black px-[3px] py-[1px] rounded-[3px];
}

.transfer-station {
    @apply font-bold text-[#60a558];
}

.station-count {
    @apply text-[#666] dark:text-[#eee] text-[0.9em] mt-[5px];
}

.total-time {
    @apply font-bold mt-2.5 text-[1.1em];
}
